<!DOCTYPE html>
<html lang = "zh">
<head>
	<meta charset = "UTF-8">
	<title>小米闪购 - 小米商城</title>
	<link rel="shortcut icon" href="{{ url_for('static',filename='mi/favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='mi/css/style.css') }}">
</head>
<body>
	<dir class="topbar">
		<dir class="container">
			<dir class="topbar-nav">
				<a href="">小米商城</a><span>|</span>
				<a href="">MIUI</a><span>|</span>
				<a href="">loT</a><span>|</span>
				<a href="">云服务</a><span>|</span>
				<a href="">金融</a><span>|</span>
				<a href="">有品</a><span>|</span>
				<a href="">小爱开放平台</a><span>|</span>
				<a href="">政企服务</a><span>|</span>
				<a href="">Select Region</a>
			</dir>
			<dir class="topbar-cart"><a href="">购物车<span>(0)</span></a></dir>
			<dir class="topbar-info">
				<a href="">登录</a>
				<a href="">注册</a>
				<a href="">消息通知</a>
			</dir>
		</dir>
	</dir>
</body>

</html>