<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <title> My Webpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/KCJieShao.css') }}" >
    <!-- <script src="main.js"></script> -->
</head>

<body>
    
    <!-- 顶部导航 -->
    <div class="site-header">
        <div class="container-left">
            <a class="a head" href="{{ url_for('server.index') }}">千禧微课</a>
            <a class="a" href="">免费课程</a>
            <a class="a" href="">付费课程</a>
        </div>
        <div class="container-right">
            <form class="search-form" action="">
                <input class="search" type="text" name="search" id="" placeholder="搜索课程">
                <button class="search-btn" type="submit"></button>
            </form>
            
            <a class="a" href="{{ url_for('server.register') }}">注册</a>
            <a class="a" href="{{ url_for('server.login') }}">登录</a>
  
        </div>
    </div>
    <!-- /顶部导航 -->
    <!-- 内容 -->
    <div class="m-maintainInfo" style="display: none">
        <div id="maintain_info_box" class="g-flow">
        </div>
      </div>
       <div id="adcertisement_box" class="advertisement_box f-pf" style="display: none;">   
	</div>
    <!-- 课程路径块，本块里面一共有两个块 -->
    <div class="kclj">
        <!-- 第一个块 -->
        <div class="kcljfd">
            <div class="kcljfd1 kcljfd2">
                <ul class="kcljfd1">
                    <li class="navcrumb-item">
                        <a href="#" target="-blank">首页 &gt;</a>    
                    </li>
                    <li class="navcrumb-item"><a href="#" target="-blank">&nbsp;&nbsp;it&互联网&nbsp;&nbsp;&gt;</a></li>
                    <li class="navcrumb-item"><a href="#" target="-blank">&nbsp;&nbsp;后端开发&nbsp;&nbsp;&gt;</a></li>
                    <li class="navcrumb-item"><a href="#" target="-blank">&nbsp;&nbsp;Python&nbsp;&nbsp;&gt;</a></li>
                    <li class="navcrumb-item"><a href="#" target="-blank">&nbsp;&nbsp;课程详情</a></li>
                </ul>
            </div>
        </div>
        <!-- 第二个块 -->
        <div class="kclj1">
            
        </div>
    </div>


    <!-- /内容 -->
    <!-- 课程的整体块 -->
    <!-- 先完成整体块的建设，设立高宽 -->
    <div class="kcqbnr">
        <!-- 第一大块 -->
        <div class="kc-tp-hd">
            <div class="kc-tp">
                <img src="{{course.cover}}">
            </div>
            <div class="kc-hd">
                

                <div>
                    <div class="bt"><h2>课程：{{course.name}}</h2><br>
                        <a href="#">讲师：{{course.teacher}}</a>
                    </div>
                    <div class="mf"><h2>价格：{{course.price}}</h2></div>
                    <div class="vip">
                        <span><input type="button" name="vip" value="VIP会员限时活动，买即赠额外天数"></span>
                    </div>
                </div>

               
                <div class="ljcj">
                    <span><a href="#">立即参加</a></span>
                </div>
            </div>
                    
        </div >
        <!-- 第二大块 -->
        <div>
            <ul class="kc-wxlb" type='none'>
                    <li class="kclb">
                       <span><a href="/KCJieShao/JS" target="">介绍</a> </span> 
                       <span><a href="/KCJieShao/ML" target="">目录</a></span>
                       <span><a href="/KCJieShao/BJ" target="">笔记</a></span>
                       <span><a href="/KCJieShao/TLQ" target="">讨论区</a></span>   
                    </li>
            </ul>
        </div>
        
        <!-- 课程的目录，目录，笔记，讨论区等详细内容的块 -->
        <div style="width:100%;height:600px;background:yellow;">
            <div style="width:60%;height:100%;background:red;float:left;"><p style="margin: 10px; text-indent: 2em;">{{course.description}}</p></div>
            <div style="width:40%;height:100%;background:pink;float:left;"></div>
        </div>
            
        
        
        
            
        
    </div>

    <!-- 底边 -->
</body>
</html>