<!--内容-->
        <section class="content-header">
            <h1>微课管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 课程管理</a></li>
                <li class="active">课程列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">课程列表</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="请输入关键字...">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>

                                    <th>编号</th>
                                    <th>课程讲师</th>
                                    <th>课程名称</th>
                                    <th>介绍</th>
                                    <th>价格</th>
                                    <th>类型</th>
                                    <th>日期</th>
                                    
                                    <th>操作</th>

                                </tr>
                                {% for cou in rel %}
                                <tr id="{{cou.id}}">

                                    <td>{{cou.id}}</td>
                                    <td>{{cou.teacher}}</td>
                                    <td>{{cou.name}}</td>
                                    <td>{{cou.description}}</td>
                                    <td>{{cou.sale}}</td>
                                    <td>
                                        {% if cou.type == 0 %}
                                            {{"其他"}}
                                        {% elif cou.type == 1 %}
                                            {{"office办公"}}
                                        {% elif cou.type == 2 %}
                                            {{"编程语言"}}
                                        {% elif cou.type == ３ %}
                                            {{"网络营销"}}
                                        {% elif cou.type == ４ %}
                                            {{运营}}

                                {%endif%}
                                    </td>
                                    <td>
                                        {% if cou.end_time == -1%}
                                            {{"永久"}}
                                        {% else %}
                                            {{cou.end_time}}
                                        {% endif %}
                                    </td>
                                    
                                    
                                    <td>
                                        <!-- <button class="editCou" data-ceid="{{cou.id}}">编辑</button> -->

                                        
                                        <button class="removeCou" data-cdid="{{cou.id}}">删除</button>
                                    </td>

                                </tr>
                                {%endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">首页</a></li>
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">下一页</a></li>
                                <li><a href="#">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
